*{
    padding: 0;
    margin: 0;
box-sizing: border-box;
}
section{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
section>article>#input{
    width: 100%;
    height: 150px;
    background-color: rgb(8, 8, 8);
   
    color: aliceblue;
    font-size: 32px;
    font-weight: bolder;
    text-align: right;

}
section>article{
    height: 500px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 0px 20px white;
}
section>article>.btn{
    height: 60px;
    width: 20%;
    margin-left: 10px;
    border: none;
    margin-top: 2px;
    background-color: peru;
    border-radius: 100px;
    font-weight: bolder;
    font-size: 22px;

}
section>article>.btn:hover{
    box-shadow: 0px 0px 10px rgb(241, 239, 239) ;
    cursor: pointer;
}
div{
    align-content: center;
    justify-content: center;
    display: flex;
}
div>.bton{
    height: 60px;
    width: 20%;
    margin-left: 10px;
    border: none;
    margin-top: 2px;
    align-items: center;
    
    border-radius: 100px;
    font-weight: bolder;
    font-size: 22px;
}
div>.bton:hover{
    box-shadow: 0px 0px 10px rgb(211, 3, 3) ;
    cursor: pointer;
}